# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
build/
dist/

# Coverage
coverage/

# Misc
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System files
ehthumbs.db
Icon?
Desktop.ini

# Other
*.tgz